<main>
  
  <button *ngIf="!accessToken; else elseBlock"> <a [href]="googleAuth.createFinalUrl()">auth test</a></button>
  <ng-template #elseBlock><button (click)="isModalPresent = true"> click me!</button></ng-template>
  <p *ngIf="accessToken">{{userEmail}}</p>
  <app-ingredient-creation *ngIf="isModalPresent" [(isSubmitted)]="isModalPresent"/>
  <section id="catalogue-search">
    <app-catalogue-search />
  </section>
  <button (click)="isScrollToggled = !isScrollToggled"> Toggle scroll view</button>
  <section>
    <app-catalogue-list *ngIf="catalogueData.currentView.length > 0; else elseBlock" [currentList]="catalogueData.currentView" [isScrollView]="isScrollToggled"/>
    <ng-template #elseBlock><h1>NOTHING SATISFIES YOUR SEARCH MORTAL</h1> </ng-template>
  </section>
</main>

<router-outlet />
