/* You can add global styles to this file, and also import other style files */

@import url('./fonts.css');
@import url('./reset.css');
html {
    font-family: 'Bookinsanity';
    background-color: #ede6cc;
    font-size: 24px;
}
p {
    font-family: 'Bookinsanity';
}
label {
    font-family: 'Zatanna Misdirection';
}
h1{
    font-family: 'Mr Eaves Small Caps';
    color: #780b01;
    font-size: 1.5rem;
}
app-catalogue-list{
    display: flex;
    float: left;
    height: 10rem;
}
/* search form styles */
form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 12rem;
    border-bottom: 3px solid #c0ad6a;
    padding-bottom: 1rem;
}
form input {
    border: none;
    border-bottom: 2px solid #780b01;
    background-color: #ede6cc;
}
form input:focus {
    border: 3px solid white;
}

form button {
    background-color: #780b01;
    color: #F5F2D0;
    border-radius: 8px;
    min-width: 5%;
    max-width: 10%;
    font-family: 'Nodesto Caps Condensed';
    box-shadow: 0px 7px 7px 0px rgb(0,0,0);
}

form #exclusive-search-items {
    display: flex;
    justify-content: space-evenly;
}
/*search suggestions styles*/
#suggested-effects {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "top"
    "bottom";
    grid-template-columns: 100%;
    grid-template-rows : 50% 50%;
    height: 3rem;
    width: 100%;
    margin-top: 2rem;
}
#suggested-effects h2 {
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-inline: auto;
    grid-area: top;
}
#suggested-effects .search-button-box {
    display: flex;
    grid-area: bottom;
    overflow-x: hidden;
    justify-content: space-evenly;
    gap: 2rem;
}
#suggested-categories  {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "top"
    "bottom";
    grid-template-columns: 100%;
    grid-template-rows : 50% 50%;
    height: 3rem;
    width: 100%;
}

#suggested-categories .search-button-box {
    display: flex;
    grid-area: bottom;
    overflow-x: hidden;
    justify-content: space-around;
    gap: 2rem;
}
#suggested-categories h2{
    text-align: center;
}
#suggested-locations  {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "top"
    "bottom";
    grid-template-columns: 100%;
    grid-template-rows : 50% 50%;
    height: 3rem;
    width: 100%;
}
#suggested-locations h2 {
    text-align: center;
}
#suggested-locations .search-button-box {
    display: flex;
    grid-area: bottom;
    overflow-x: hidden;
    justify-content: space-evenly;
    gap: 2rem;
}

.search-button-box button {
    background-color: #780b01;
    color: #F5F2D0;
    border-radius: 8px;
    min-width: 5%;
    max-width: 10%;
    font-family: 'Nodesto Caps Condensed';
    box-shadow: 0px 7px 7px 0px rgb(0,0,0);
}
app-search-suggestions h2 {
    font-family: 'Mr Eaves Small Caps';
}

#catalogue-search {
    border-bottom:2px solid #c0ad6a;
    padding-bottom: 2rem;
}
/* Ingredient stuff */
.ingredient-component {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
}
.ingredient-header {
    font-size:1.25rem;
    color: #780b01;
}


.ingredient-image-container{
    max-height: auto;
    max-width: 50%;
}

.ingredient-component img{
    object-fit: contain;
    width: 80%;
    height: auto;
}

/*scroll view*/
.ingredient-scroll-view {
    scroll-snap-type: y mandatory;
    background-color: antiquewhite;
    overflow: scroll;
    height: 200rem;
}


.ingredient-scroll-view .ingredient-component{
    scroll-snap-align: start;
}

/* Ingredient creation modal*/
app-ingredient-creation {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; 
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.6); 
      
}
.ingredient-creation-form {
    background-color: #ede6cc;
}
