/* You can add global styles to this file, and also import other style files */

@import url('./fonts.css');
@import url('./reset.css');
html {
    font-family: 'Bookinsanity';
    background-color: #ede6cc;
    font-size: 24px;
}
p {
    font-family: 'Bookinsanity';
}
label {
    font-family: 'Zatanna Misdirection';
}
h1{
    font-family: 'Mr Eaves Small Caps';
    color: #780b01;
    font-size: 1.5rem;
}
app-catalogue-list{
    display: flex;
    float: left;
    height: 10rem;
}
/* Search input */
#suggested-effects {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "top"
    "bottom";
    grid-template-columns: 100%;
    grid-template-rows : 50% 50%;
    height: 3rem;
    width: 100%;
}
#suggested-effects h2 {
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-inline: auto;
    grid-area: top;
}
#suggested-effects .search-button-box {
    display: flex;
    grid-area: bottom;
    overflow-x: scroll;
    justify-content: space-around;
    gap: 2rem;
}

.search-button-box button {
    background-color: #780b01;
    color: #F5F2D0;
    border-radius: 8px;
    min-width: 5%;
    max-width: 10%;
}
/* Ingredient stuff */
.ingredient-component {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
}
.ingredient-header {
    font-size:1.25rem;
    color: #780b01;
}


.ingredient-image-container{
    max-height: auto;
    max-width: 50%;
}

.ingredient-component img{
    object-fit: contain;
    width: 80%;
    height: auto;
}

/*scroll view*/
.ingredient-scroll-view {
    scroll-snap-type: y mandatory;
    background-color: antiquewhite;
    overflow: scroll;
    height: 200rem;
}
.ingredient-scroll-view .ingredient-component{
    scroll-snap-align: start;
}

/* Ingredient creation modal*/
app-ingredient-creation {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; 
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.6); 
      
}
.ingredient-creation-form {
    background-color: #ede6cc;
}
