/* You can add global styles to this file, and also import other style files */

@import url('./fonts.css');
@import url('./reset.css');
html {
    font-family: 'Bookinsanity';
    background-image: url("./assets/wooden-floor-background.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: center;
    font-size: 24px;
    scroll-snap-type: y proximity;

}
button {
    background-color: #780b01;
    color: #F5F2D0;
    border-radius: 8px;
    min-width: 5%;
    max-width: 10%;
    font-family: 'Nodesto Caps Condensed';
    box-shadow: 0px 7px 7px 0px rgb(0,0,0);
}
p {
    font-family: 'Bookinsanity';
}
label {
    font-family: 'Zatanna Misdirection';
}
h1{
    font-family: 'Mr Eaves Small Caps';
    color: #780b01;
    font-size: 1.5rem;
}
app-catalogue-list{
    display: flex;
    float: left;
    height: 10rem;
}
/* Google auth button styles */
#auth-button {
    background-color: #780b01;
    color: #F5F2D0;
    border-radius: 8px;
    font-family: 'Nodesto Caps Condensed';
    box-shadow: 0px 7px 7px 0px rgb(0,0,0);
    position: relative;
    left: 90%;
    height: 1.625rem;
    width: 6rem;
}
#auth-button a {
    color: #c0ad6a;
    font-size: 1rem;
    font-family: 'Mr Eaves Small Caps';
}
/* search form styles */
form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 12rem;
    border-bottom: 4px solid #c0ad6a;
    padding-bottom: 1rem;
}
form input {
    border: none;
    border-bottom: 2px solid #780b01;
    background-color: #ede6cc;
}
form input:focus {
    border: 3px solid white;
}

form button {
    background-color: #780b01;
    color: #F5F2D0;
    border-radius: 8px;
    min-width: 5%;
    max-width: 10%;
    font-family: 'Nodesto Caps Condensed';
    box-shadow: 0px 7px 7px 0px rgb(0,0,0);
}

form #exclusive-search-items {
    display: flex;
    justify-content: space-evenly;
}
/*search suggestions styles*/
#suggested-effects {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "top"
    "bottom";
    grid-template-columns: 100%;
    grid-template-rows : 50% 50%;
    height: 3rem;
    width: 100%;
    margin-top: 2rem;
}
#suggested-effects h2 {
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-inline: auto;
    grid-area: top;
}
#suggested-effects .search-button-box {
    display: flex;
    grid-area: bottom;
    overflow-x: hidden;
    justify-content: space-evenly;
    gap: 2rem;
}
#suggested-categories  {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "top"
    "bottom";
    grid-template-columns: 100%;
    grid-template-rows : 50% 50%;
    height: 3rem;
    width: 100%;
}

#suggested-categories .search-button-box {
    display: flex;
    grid-area: bottom;
    overflow-x: hidden;
    justify-content: space-around;
    gap: 2rem;
}
#suggested-categories h2{
    text-align: center;
}
#suggested-locations  {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "top"
    "bottom";
    grid-template-columns: 100%;
    grid-template-rows : 50% 50%;
    height: 3rem;
    width: 100%;
}
#suggested-locations h2 {
    text-align: center;
}
#suggested-locations .search-button-box {
    display: flex;
    grid-area: bottom;
    overflow-x: hidden;
    justify-content: space-evenly;
    gap: 2rem;
}

.search-button-box button {
    background-color: #780b01;
    color: #F5F2D0;
    border-radius: 8px;
    min-width: 5%;
    max-width: 10%;
    font-family: 'Nodesto Caps Condensed';
    box-shadow: 0px 7px 7px 0px rgb(0,0,0);
}
app-search-suggestions h2 {
    font-family: 'Mr Eaves Small Caps';
}

#catalogue-search {
    border-bottom:2px solid #c0ad6a;
    padding-bottom: 2rem;
}
/* Ingredient stuff */
/*To do with when we're doing the page turn-y stuff */

.non-scroll-view {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.non-scroll-view button {
    align-self: center;
}
.ingredient-component {
    display: grid;
    grid-template-areas:
    "title title . ."
    "type type . ."
    "image image fluff fluff"
    "image image fluff fluff"
    "image image base-effect base-effect"
    "image image base-effect base-effect"
    "image image base-dc base-dc"
    "image image boost-effect boost-effect"
    "image image boost-effect boost-effect"
    "image image boost-dc boost-dc"
    "image image location location"
    "tags tags price price";
    scroll-snap-align: center;
    height: auto;
    padding: 2rem;
}
.ingredient-component h1 {
    font-size: 1.675rem;
}
.ingredient-component h3{
    font-family: 'Mr Eaves Small Caps';
    font-size: 1.25rem;
    color:#780b01;
}
.ingredient-component .description-container {
    grid-area: fluff;
}
.ingredient-component .base-effect-container {
    grid-area: base-effect;
}
.ingredient-component .base-dc-container {
    grid-area: base-dc;
}
.ingredient-component .boost-effect-container {
    grid-area: boost-effect;
}
.ingredient-component .boost-dc-container {
    grid-area: boost-dc;
}
.ingredient-component .title {
    grid-area: title;
}
.ingredient-component .price-container {
    grid-area: price;
}
.ingredient-component .tags-container {
    grid-area: tags;
}
.ingredient-component .location {
    grid-area: location;
}
.ingredient-component .type-container{
    grid-area: type;
}

.ingredient-header {
    font-size: 1.125rem;
    color: #780b01;
}
    


.ingredient-image-container{
    max-height: auto;
    max-width: 100%;
    grid-area: image;
}

.ingredient-component img{
    object-fit: contain;
    width: 95%;
    height: auto;
    margin: 0px;
}

/*scroll view*/
#ingredient-scroll-view {
    height: auto;
}


#ingredient-scroll-view .ingredient-component{
    scroll-snap-align: center;
    border-bottom: 0.275rem solid #c0ad6a;
}

/* Ingredient creation modal*/
app-ingredient-creation {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; 
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.6); 
      
}
.ingredient-creation-form {
    background-color: #ede6cc;
}
